html{
    background-color:#1a1a1a;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #1a1a1a, #333333);
    padding-bottom: 100px;
    padding-top: 100px;
    margin: 0;
    height: 100vh;
}

#title{
    font:bold 4rem Verdana;
    color: #333333;
    padding: 1rem 4rem;
    background: radial-gradient(circle,
    #ffffff 0%,
    #ffcc00 25%,
    #ff6600 50%,
    #cc0000 75%,
    #660000 100%
    );
    border-radius: 15px;
    position: relative;
    top: -50px;
}

#Search-Div {
    margin-bottom: 4rem;
}

#Movie {
    height: 2rem;
    width: 20rem;
    margin-right: 20px;
    box-sizing: border-box;
}

#Search-Button {
    height: 2rem;
    width: 5rem;
    box-sizing: border-box;
    background-color: gray;
    border: none;
    border-radius: 3px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 1.5rem;
    width: 90vw;
    height: 100vh;
    color: white;

}

#results h1 {
    margin: auto;
    color: whitesmoke;
}

#results p {
    color: whitesmoke;
    font:bold 1rem Verdana;
    word-wrap: break-word;
    text-align: center;
}

